#whole{
    z-index: 0;
    display: none;
    
}
@keyframes notification{
    from {margin-left: 0;}
    to {margin-left:17.5 ;}

    
}
#notifybody{
    background-color: rgb(87, 87, 87);
    color: rgb(255, 255, 255);
    
    
    margin-top: -100vh;
    
    
    height: 73vh;
    border-radius: 20px;
    /* display: none; */
    animation-duration: 400ms;
    animation-name: notification ;

  
    
   
}
h1{
    padding-left: 7vw ;
}

.notify_head{
    padding-left: 8vh ;
    color: #FF9900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


