  #hub{
    margin-top:7%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    margin-left: 4%;
    color: aliceblue;
  }
  #hu{
    background: #FF9900;
    color: #000000;
    border-radius: 1vw;
    padding: .5vw;
    display: inline-block;
    
  }